# virtual environments 
venv*

# dev related files
dev*

# python related files
__pycache__

# notebooks related files
*-checkpoint.ipynb

# data related files
data/*
*ubyte*
*.csv

# output related files
*.png