# virtual environments 
venv*

# dev related files
dev*

# python related files
*.cpython*

# notebooks related files
*-checkpoint.ipynb

# data related files
data/*
*.csv

# output related files
*.png